* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
}

.index-h1 {
  font-size: 34px;
  border: 1px solid #000;
}
#nav-pc ul {
  display: flex;
  padding-left: 0;
}

#nav-pc li {
  list-style: none;
  margin-left: 20px;
  font-size: 34px;
}

#mainvisual img {
  width: 100%;
}

.index-h2 {
  text-align: center;
  font-size: 34px;
}



#about-flex {
  display: flex;
  text-align: center;
}

#works {
  text-align: center;
}

#works-flex {
  display: flex;
}

#works-flex > div {
  margin: 20px;
}

footer {
  text-align: center;
  font-size: 18px;
}

@media screen and (max-width: 767px){
  
  #mainvisual img {
    width: 100%;
  }

  #about-flex {
    text-align: center;
    flex-direction: column;
  }

  #works-flex {
    flex-direction: column;
  }
}